<div id="displayTinymce">
    <div id="mymce1"></div>
</div>

<div class="wrapper" *ngIf="loadingImage">
    <div class="inner">
        <mat-spinner diameter="50" style="margin:0 auto;"></mat-spinner>
    </div>
  </div>

<div class="row">
            <div class="leftside">
                <maphilight id="image" [config]="mapHigtlightConfig">
                     <img [src]="image" alt="" usemap="#workmap"  />
                     <map name="workmap">
                         <area *ngFor="let obj of mapCooridinate" shape="rect" coords='{{obj.coordi}}' title={{obj.name}}  alt="#" (click)=Clicked($event,obj)/>
                    </map>
                </maphilight>
            </div>
</div> 

